body {
  text-align: center;
  background-color: #1a1a2e;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FFFFFF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.top-1 {
  background-color: green;
}

.top-2 {
  background-color: red;
}

.top-3 {
  background-color: blue;
}

.mid-1 {
  background-color: yellow;
}

.mid-2 {
  background-color: deepskyblue;
}

.mid-3 {
  /* maroon */
  background-color: #b03060;
}

.bot-1 {
  background-color: navy;
}

.bot-2 {
  background-color: fuchsia;
}

.bot-3 {
  background-color: lime;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.list-div {
  text-align: center;
  color: white;
}
